asgiref
beautifulsoup4
dj-database-url
Django
django-bootstrap4
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-filter
djangorestframework
importlib_metadata
Markdown
pillow
psycopg2-binary
soupsieve
sqlparse
typing_extensions
zipp
